* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navTop {
    background-color: #F50157;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.profile_section {
    margin-top: 40px;
    margin: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileTitle {
    text-align: center;
    margin-bottom: 20px;
}

.profile_UL {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.profile_Li {
    list-style: none;
    color: #9E9E9E;
}

.names,
.ph_add {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#inputFields>input {
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.file {
    display: flex;
    flex-direction: column;
    margin-left: 126px;
    text-align: center;
    align-content: center;
    align-items: center;
}

#profile {
    /* margin: 0px !important; */
    margin-top: 10px;
    padding: 10px;
    display: inline;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#back {
    color: #C2C3C2;
    background-color: white;
}

.back {
    color: black !important;
}

#back,
#next,
#save_continue {
    margin: 5px;
    padding: 6px 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#next,
#save_continue {
    background-color: #F60057;
    border-radius: 5px;
    color: white;

}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

#delete,
#delete_skill {
    color: #C9C9CA;
    border: 1px solid #EBECEB;
}

#delete,
#delete_skill,
#add_education,
#add_skill,
#add_project,
#add_social {
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}

#add_education,
#add_skill,
#add_project,
#add_social {
    background-color: #4051B4;
    color: white;
    border: none;
}